<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager (ionSlideDidChange)="onSlideChange($event)" (ionSlideDrag)="onSlideDragging($event)" [options]="slideOptions">
    <ion-slide *ngFor="let date of dateArray; let i = index">
      SLIDE {{ i }}
      {{ date | date:'M/d/yy'}}
    </ion-slide>
  </ion-slides>

  <h3>Slider Event Counts</h3>
  <ul>
    <li><strong>ionSlideDidChange: </strong> <span>{{ionSlideDidChangeSubject | async}}</span></li>
    <li><strong>ionSlideDrag: </strong> <span>{{ionSlideDragSubject | async}}</span></li>
  </ul>
</ion-content>
